---
layout: page.njk
rdf:
  og:
    type: article
  twitter:
    card: summary_large_image
eleventyComputed:
  rdf:
    article:
      published_time: "{{ date | isoDate }}"
    og:
      description: "{{ abstract }}"
      image: "{{ cover.url }}"
      image:alt: "{{ cover.alt }}"
---

<main class="container"
  {% if lang != 'udm' %} lang="{{ lang }}" {% endif %}
  >
  <article class="prose" itemscope itemtype="https://schema.org/Article">
    <header class="front">
      <h1 class="front__title" itemprop="headline name">{{ title }}</h1>
      <div class="minor">
        <time datetime="{{ date | isoDate }}" itemprop="datePublished">{{ date | udmDate }}</time>
        <span aria-hidden="true"> ⋅ </span>
        <span>{{ content | readTime }}</span>
        {% for lang in otherlangs %}
        <span aria-hidden="true"> ⋅ </span>
        <a rel="alternate"
          href="{{ page.url }}{{ lang }}.html"
          hreflang="{{ lang }}"
          >
          {{ lang | langname }}
        </a>
        {% endfor %}
      </div>
    </header>
    {% if abstract %}
    <p class="highlight" itemprop="abstract">{{ abstract }}</p>
    {% endif %}
    {% if cover %}
    {% image cover.url, cover.alt, cover.caption %}
    {% endif %}
    {{ content | safe }}
    <section id="comments">
      <h2>Валэктонъёс</h2>
      <script async src="https://telegram.org/js/telegram-widget.js?15"
        data-telegram-discussion="ktwsgu"
        data-comments-limit="5"
        data-color="5F0FAE"
        ></script>
    </section>
  </article>
</main>