---
layout: page.njk
lang: udm
styles:
 - /styles/article.css
scripts:
 - /scripts/toc.js
prefix:
  og: https://ogp.me/ns#
  article: https://ogp.me/article#
  scm: https://schema.org/
rdf:
  og: 
    type: article
  article:
    author: Коӵыш Микайло
  twitter: 
    card: summary_large_image
eleventyComputed:
  rdf:
    article:
      published_time: "{{ date | isoDate }}"
    og:
      description: "{{ abstract | default('') | md(true) | striptags }}"
      image!: "{{ cover.url }}"
      image:alt: "{{ cover.alt }}"
---

<main>
  <article about="{{ site.url }}{{ page.url }}" typeof="scm:Article">
    <header class="article-hero {% if cover %}article-hero_has-image{% endif %} prose">
      <div class="main-margin">
        <h1
          class="article-hero__heading"
          property="scm:headline scm:name">
          {{ title }}
        </h1>
        {% if abstract %}
        <p property="scm:abstract">{{ abstract | md(true) | safe }}</p>
        {% endif %}
        <p class="article-hero__meta">
          <time
            property="scm:datePublished"
            datetime="{{ date | isoDate }}">
            {{ date | udmDate }}
          </time>
          <span rel="scm:creator scm:author">
            <span resource="{{ site.url }}#me" typeof="scm:Person">
              <span property="scm:familyName">Коӵыш</span>
              <span property="scm:givenName">Микайло</span>
            </span>
          </span>
          <span>{{ content | readTime }}</span>
          {% for lang in otherlangs %}
          <a
            rel="alternate scm:workTranslation"
            href="{{ page.url }}{{ lang }}.html"
            hreflang="{{ lang }}">
            {{ lang | langname }}
          </a>
          {% endfor %}
        </p>
      </div>
      {% if cover %}
      <figure class="article-hero__image">
        <img rel="scm:thumbnailUrl scm:image" src="{{ cover.url }}" alt="{{ cover.alt }}">
        {% if cover.caption %}
        <figcaption>{{ cover.caption | md(true) | safe }}</figcaption>
        {% endif %}
      </figure>
      {% endif %}
    </header>
    {% if not disableToc %}
    <div id="toc" class="main-margin toc">
      <nav class="main-margin toc__nav" id="toc-content">
        <div class="position: relative;">
          <h2 class="toc__heading">Пуштросэз</h2>
          <button
            aria-controls="toc-toplevel"
            class="toc__expand"
            aria-expanded="true"
            title="Пуштросэз ватоно">
            <svg class="icon">
              <use href="/assets/icons/sprite.svg#arrow-down-s-line"/>
            </svg>
          </button>
        </div>
        <ul class="toc__list" id="toc-toplevel">
        {% set headings = content | headings %}
        {% include 'toc.njk' %}
        {% if not disableComments %}
          <li class="toc__item">
            <a class="toc__link" href="#comments">Коментаръёс</a>
          </li>
        {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
    <div class="article__content prose prose-wide" data-track>
      {{ content | safe }}
    </div>
  </article>
  {% if not disableComments %}
  <section class="main-margin">
    <h2 id="comments" class="visually-hidden">Коментаръёс</h2>
    <script async src="https://telegram.org/js/telegram-widget.js?15"
        data-telegram-discussion="{{ tgDiscussion or 'ktwsgu' }}"
        data-comments-limit="5"
        data-color="5F0FAE"
        ></script>
  </section>
  {% endif %}
</main>