<footer class="footer main-pad">
  <section>
    <p>© {{ site.author }} {{ site.buildDate.fullYear  }}</p>
    <p>Вотэсбамез люкам нунал: {{ site.buildDate | udmDate }}</p>
  </section>
  <section>
    <h2 class="visually-hidden">Вотэсбамтӥ навигация</h2>
    {% include 'menu.njk' %}
  </section>
  {% if not skipFooterLinks %}
  <section>
    <h2 class="visually-hidden">Монэн герӟаськон</h2>
    <ul class="socials">
      {% for network, contact in site.contacts %}
        <li>
          <a class="social-link" href="{{ contact.url }}">
            <span class="icon" title="{{ network }}">
              <svg class="icon">
                <use href="/assets/icons/sprite.svg#{{ contact.icon }}"/>
              </svg>
            </span>
            {% if contact.handle %}
              <span>{{ contact.handle }}</span>
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
</footer>