<header class="header theme-hero main-pad">
  <a class="header__logo" href="/" aria-label="Дорбаме">
    <img src="/assets/logo.svg" width="24"/>
  </a>
  <div class="header-drawer">
    <button
      class="header-drawer__button init"
      title="Менюез усьтоно"
      aria-controls="header-drawer"
      aria-expanded="false"
      >
      <svg class="icon">
        <use id="header-drawer-icon" href="/assets/icons/sprite.svg#menu-2-line"/>
      </svg>
    </button>
    <div class="header-drawer__content" id="header-drawer">
      {% include "menu.njk" %}
    </div>
  </div>
  <div class="header__progress"></div>
</header>
