<nav class="nav">
  <ul>
    {% for link in site.links %}
    <li>
      <a class="hollow-link"
        {% if link.href %}href="{{ link.href }}"{% endif %}>
        {{ link.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>