@use '../util/type';

.aboutme {
  position: relative;
  padding: {
    top: 50px;
    bottom: 150px;
  };
  overflow: hidden;
}

.aboutme__text {
  position: relative;
  z-index: 10;
}

.aboutme__hello {
  @include type.text(3xl);
  margin-top: 0;
  margin-bottom: .75em;
}

.aboutme__socials {
  margin-top: 32px;
}

.aboutme-imagery {
  position: absolute;
  bottom: -150px;
  right: -160px;
  pointer-events: none;
  user-select: none;
}

.aboutme-imagery__main {
  height: 512px;
  mix-blend-mode: overlay;
}

@media (min-width: 350px) {
  .aboutme-imagery {
    right: calc(50vw - 270px);
  }
}

@media (min-width: 710px) {
  .aboutme {
    padding-bottom: 80px;
  }

  .aboutme__text {
    padding-right: 180px;
  }

  .aboutme__socials {
    grid-auto-flow: column;
  }

  .aboutme__socials li:first-child {
    margin-left: -12px;
  }

  .aboutme-imagery {
    top: 0;
    right: calc(44vw - 492px);
  }
}