body, .theme-reset {
  --color-accent: #c05358;
  --color-background: #0e0d0d;
  --text-primary: #f3f1f1;
  --text-minor: #706267;
  --elevate: rgba(0, 0, 0, 0.1);
  --code-block: #1a1818;
  color: var(--text-primary);
  background: #0e0d0d;
}

.theme-hero {
  --color-primary: #3b2425;
  --color-secondary: #2b161e;
  --color-accent: #c05358;
  --text-primary: #dfbfc4;
  --text-minor: #817577;
  color: var(--text-primary);
}