body, .theme-reset {
  --color-accent: #dc6368;
  --color-background: #1f1010;
  --text-primary: #f3f1f1;
  --text-minor: #706267;
  --elevate: rgba(255, 255, 255, 0.1);
  --color-border: rgba(255, 255, 255, 0.3);
  --code-block: #1a1818;
  color: var(--text-primary);
  background: #1f1010;
}

.theme-hero {
  --color-primary: #3b2425;
  --color-secondary: #2b161e;
  --color-accent: #c05358;
  --text-primary: #dfbfc4;
  --text-minor: #817577;
  --elevate: rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}
