body, .theme-reset {
  --color-accent: #772428;
  --color-background: white;
  --text-primary: black;
  --text-minor: #5f5b55;
  --elevate: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.2);
  --code-block: #f0f0f0;
  color: var(--text-primary);
}

.theme-hero {
  --color-primary: #3b2425;
  --color-secondary: #2b161e;
  --color-accent: #c05358;
  --text-primary: #dfbfc4;
  --text-minor: #805c64;
  color: var(--text-primary);
}