.header__logo_animate {
  animation: hiraku 1.5s, mawaru 1s 0.5s cubic-bezier(0.2, 0, 0, 1) backwards;
}

@keyframes hiraku {
  0% {
    clip-path: polygon(
      0% 0%, 0% 0%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%, 0% 20.8%
    );
  }
  40% {
    clip-path: polygon(
      0% 0%, 83% 0%, 83% 20.8%, 58% 20.8%, 58% 20.8%, 58% 20.8%, 58% 20.8%, 58% 20.8%, 58% 20.8%, 58% 20.8%, 0% 20.8%
    );
  }
  50% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 50%, 37.5% 50%, 37.5% 50%, 37.5% 50%, 37.5% 50%, 37.5% 50%, 37.5% 50%, 58% 20.8%, 0% 20.8%
    );
  }
  60% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 100%, 72.9% 100%, 58% 79%, 58% 79%, 58% 79%, 58% 79%, 37.5% 50%, 58% 20.8%, 0% 20.8%
    );
  }
  70% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 79%, 20.8% 79%, 20.8% 79%, 58% 79%, 37.5% 50%, 58% 20.8%, 0% 20.8%
    );
  }
  99% {
    clip-path: polygon(
      0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 20.8% 0%, 20.8% 79%, 58% 79%, 37.5% 50%, 58% 20.8%, 0% 20.8%
    );
  }
}

@keyframes mawaru {
  0% {
    transform: rotate(-0.25turn);
    transform-origin: 83% 20.8%;
  }
  100% {
    transform: rotate(0);
  }
}