@use 'sass:color';
@forward 'util/type' with ($factor: 1.414);

$font: Ubuntu, -apple-system, sans-serif;

$main-color: #5f0fae;
$accent-color: #d82057;

@mixin light {
  --main-text: black;
  --main-bg: white;
  --link-color: #{$accent-color};
  --elevation: #eee;
  --muted-text: #222;
  --minor-text: #555;
}

@mixin dark {
  --main-text: white;
  --main-bg: #171719;
  --link-color: #{color.scale($accent-color, $whiteness: -50%, $blackness: -90%)};
  --elevation: #1d1d1f;
  --muted-text: #eee;
  --minor-text: #888;
}

:root {
  font: {
    family: $font;
    size: 16px;
  }
  line-height: 1.5;

  @include light;

  color: var(--main-text);
  background-color: var(--main-bg);

  &.dark {
    @include dark;
  }

  &.light {
    @include light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}