@use 'theme' as t;
@use 'util/reset';

/* Front-matter */

.front {
  margin-bottom: .5rem;
}

.front__title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.highlight {
  position: relative;
  margin-block: 1em;
  @include t.text(lg);

  &::before {
    content: '';
    position: absolute;
    top: .75em - .6em;
    left: -1rem;
    width: .2rem;
    height: 1.2em;
    background-color: t.$main-color;
  }
}

figure {
  margin: 0;
  margin-block-end: 0.75rem;
}

figcaption {
  @include t.text(sm);
}

.prose figure img, .prose pre {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  box-sizing: border-box;
}

.prose aside {
  font-style: italic;
}

[data-word] {
  background: var(--elevation);
  border: 1px solid gray;
  padding: 0.25em;
  border-radius: 0.25em;
  cursor: pointer;

  /**
  &.--new-word {
    background: linear-gradient(
      to top,
      rgba(t.$main-color, 0.3),
      rgba(t.$accent-color, 0.3),
    );
  }
  **/
}

.def {
  width: max-content;
  max-width: 15em;
  cursor: unset;

  border-radius: .25em;
  margin-bottom: .5em;
  padding: {
    inline: 1rem;
    block: 0.75rem;
  };
  opacity: 0;
  transform: translateY(.5em);
  transition: 0.2s {
    property: transform, opacity;
  };

  > * {
    margin: 0;
  }

  .transition-in & {
    opacity: 1;
    transform: unset;
  }
}

.def__word {
  font-size: 1rem;
  margin: 0 {
    bottom: 0.25em;
  };
  text-transform: capitalize;
}

.def__close {
  @include reset.button;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}