@use 'sass:math';
@use 'util/reset';
@use 'theme' as t;

$header-height: 50px;

.banner {
  background-color: black;
  text-align: center;
  font-weight: 600;
  color: white;
  padding-block: 0.5em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: $header-height;

  background-color: var(--main-bg);
  box-shadow: 0 0 16px rgb(0 0 0 / 0.15);

  transition: 0.2s transform;
}

/* Explicitly position item */
.header__item {
  top: math.div($header-height, 2);
  transform: translateY(-50%);
}

.logo {
  $padding: math.div(50px - 24px, 2);

  position: relative;
  padding: $padding;
  line-height: 1;
  @include reset.link;

  &::after {
    position: absolute;
    inset: $padding;
    content: url('/assets/logo.svg');
    opacity: 0;
    transition: 0.2s opacity;
  }

  & svg {
    opacity: 1;
    transition: 0.2s opacity;
  }

  &:hover, &:focus, &[aria-current="page"] {
    svg {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
}

.menu__link {
  display: block;
  padding-block: 0.5em;
  @include reset.link;

  &[href]:hover {
    background-color: var(--elevation);
  }

  &:not([href]) {
    color: var(--minor-text);
  }
}

.menu ul {
  @include reset.ul;
}

@media (max-width: 399px) {
  .menu ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      @include t.text(sm);
    }
  }
}

@media (min-width: 400px) {
  .menu ul {
    display: flex;
  }

  .menu__link {
    padding-inline: 0.5em;
    svg {
      display: none;
    }
  }
}

.theme-switch {
  @include reset.button;
  position: absolute;
  right: 1rem;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.25em;

  &:hover {
    color: t.$main-color;
    background-color: rgba(t.$main-color, 0.05);
  }

  svg {
    display: block;
  }
}