---
permalink: feed.xml
title: Коӵышгуысь гожъямъёс
lang: udm
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
  xml:base="{{ site.url }}"
  xml:lang="{{ lang }}"
  >
  <title>{{ title }}</title>
  <link href="/articles"/>
  <link rel="self" href="/feed.xml" type="application/atom+xml"/>
  <author>
    <name>{{ site.author }}</name>
  </author>
  <updated>{{ site.buildDate | isoDate }}</updated>
  <id>{{ site.url }}</id>
  <icon>/assets/logo_large.png</icon>

  {% for article in collections.articles | reverse %}
  <entry xml:base="{{ site.url }}{{ article.url }}">
    <title>{{ article.data.title | md(true) | safe }}</title>
    <link href="./." type="text/html"/>
    {% for lang in article.data.otherlangs %}
    <link href="./{{ lang }}" hreflang="{{ lang }}" type="text/html"/>
    {% endfor %}
    <id>{{ site.url }}{{ article.url }}</id>
    <published>{{ article.data.date | isoDate }}</published>
    {% if article.data.abstract %}
    <summary>{{ article.data.abstract | md(true) | safe }}</summary>
    {% endif %}
    <content type="text/html">
      <![CDATA[
        <div>{{ article.templateContent | excludeJsSpecific | safe }}</div>
      ]]>
    </content>
  </entry>
  {% endfor %}
</feed>