---
title: Коӵышгу
layout: page.njk
skipFooterLinks: true
prefix:
  foaf: http://xmlns.com/foaf/0.1/
  scm: https://schema.org/
rdf:
  og:
    description: >
      Ӟечбур, мон Коӵыш Микайло! Мон компьютэртодослы дышетскись но
      удмурт кыл понна тыршись.
styles:
 - /styles/index.css
---

<main>
  <section class="hero theme-hero main-pad aboutme" about="#me" typeof="foaf:Person scm:Person">
    <meta property="foaf:gender scm:gender" content="male">
    <link rel="foaf:homepage" href="{{ site.url }}">
    <link rel="foaf:weblog" href="{{ site.url }}/articles">
    <div class="aboutme__text">
      <h1 class="aboutme__hello">
        Ӟечбур,<br/>
        мон
        <span property="foaf:name">
        <span property="foaf:familyName scm:familyName">Коӵыш</span>
        <span property="foaf:givenName scm:givenName">Микайло</span>
        </span>
      </h1>
      <p>Мон компьютэртодослы дышетскись но удмурт кыл понна тыршись. Мыным
      вотэслэсьтон, матэматӥк, кылъёс, Нипоншаер но пичильтык суредъяськон
      тунсыко пото, со сярысьгес ик татын гожъясько.</p>
      <h2 class="visually-hidden">Монэн герӟаськон</h2>
      <ul class="aboutme__socials socials">
        {% for network, contact in site.contacts %}
          <li rel="foaf:account">
            <a class="social-link" href="{{ contact.url }}" typeof="foaf:OnlineAccount">
              <link rel="foaf:accountServiceHomepage" href="{{ contact.homepage }}"/>
              <span class="icon" title="{{ network }}">
                <svg class="icon">
                  <use href="/assets/icons/sprite.svg#{{ contact.icon }}"/>
                </svg>
              </span>
              {% if contact.handle %}
                <span property="foaf:accountName">{{ contact.handle }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="aboutme-imagery">
      <picture>
        <source
          srcset="/assets/frontpage.webp, /assets/frontpage@2x.webp 2x"
          type="image/webp">
        <img
          class="aboutme-imagery__main"
          src="/assets/frontpage.png"
          alt="Выж вылын пыдъёссэ кечат-вамат карыса пукись, кагаз вылэ маке суредась, кечато дэремен пилэн суредэз. Матаз коӵыш нургетыса изе, гурын пис тачыр-тачыр каре."
          >
      </picture>
    </div>
  </section>
  <section class="main-margin">
    <div class="articles-heading">
      <h2 class="text-2xl">Берло гожъямъёсы</h2>
      {% if collection.articles.length > 5 %}
      <a class="all-articles-link" href="/articles">ваньмыз</a>
      {% endif %}
    </div>
    {% for year, articles in collections.articles | reverse | limit(5) | byYear %}
    <section class="articles">
      <h3 class="articles__year">{{ year }}</h3>
      <ul class="articles__list">
        {% for article in articles %}
        <li>
          {% include 'article_card.njk' %}
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </section>
</main>