---
title: Вотэскусыпты ышем
layout: page.njk
permalink: /offline.html
---

<main class="container">
  <h1>Вотэскусыпты ышем</h1>
  <p>Озьы луылэ. Возьмалэ кусып йӧнамез но оскалтэ эшшо огпол.</p>
  <p><a href="/">Дорбаме</a> берытскыны утчамды луэ.</p>
</main>