@mixin link {
  text-decoration: unset;
  border: none;

  &, &:link, &:hover, &:active, &:visited {
    color: unset;
    @content;
  }
}

@mixin ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

@mixin button {
  appearance: none;
  font: unset;
  color: unset;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}